<ul class="nav justify-content-end">
	{{#if session}}
	<li class="nav-item">
		<a class="nav-link" href="/profile">Profile</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="/map">Map</a>
	</li>
	<li class="nav-item disabled">
		<a class="nav-link" href="/sessions/delete">Logout</a>
	</li>
	{{/if}}
</ul>